body {
  font-family: 'Roboto', sans-serif;
  background: rgb(0, 5, 22);
  margin: auto;
  input:focus {
    outline: 0
  }
}

.button {
  border-radius: .2rem;
  width: 100%;
  height: 1.5rem;
  background: rgb(15, 20, 36);
  color: rgb(95, 93, 112);
  border: none;
  &:hover {
    background-color: rgba(49, 51, 71, 0.363);
    cursor: pointer;
  }
  &:focus {
    outline: 0;
    width: 99.9%;
    height: 1.4rem;
  }
}

.form {
  padding: 1rem;
  table {
    width: 100%;
    border: none;
    tr {
      td {
        padding: .5rem;
        .title {
          text-align: center;
          font-size: 1rem;
          color: rgb(209, 209, 211);
        }
        label {
          font-size: .8rem;
          color: rgb(125, 125, 139);
        }
        input {
          background-color: rgb(15, 20, 36);
          color: white;
          height: 1.2rem;
          border: none;
          border-radius: .2rem;
          padding-left: .5rem;
          &:focus { outline: 0; }
        }
        label, span {
          font-size: .8rem;
          color: rgb(125, 125, 139);
        }
      }
      &:not(first-child) {
        td:first-child {
          text-align: left;
        }
        td:last-child {
          text-align: right;
        }
      }
    }
  }
}

.wallet {
  background-color: rgb(15, 20, 36);
  padding: 2rem 3rem;
  text-align: center;
  border-radius: .1rem;
  box-sizing: border-box;
  height: 6rem;
  width: 10rem;
  color: rgb(220, 220, 220);
  .balance { font-size: 120%; }
  .name {
    font-size: 60%;
    display: block;
    color: rgb(95, 93, 112);
  }
  &:hover {
    background-color: rgba(49, 51, 71, 0.363);
    cursor: pointer;
  }
}

.transaction {
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: rgb(15, 20, 36);
  border-radius: .1rem;
  color: rgb(125, 125, 139);
  font-size: .8rem;
  &:hover {
    background-color: rgba(49, 51, 71, 0.363);
    cursor: pointer;
  }
  table {
    width: 100%;
    tr {
      td:first-child, td:last-child {
        width: 10%;
      }
      td:last-child {
        text-align: right;
      }
    }
  }
  .income { 
    color: #30ac57; 
    &::before {
      content: "+"
    }
  }
  .expense { 
    color: #C10505; 
    &::before {
      content: "-"
    }
  }
  .transfer { color:#0A68D2; }
}